<!DOCTYPE html>
<html lang="en">
    <head>
        <title>A1</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="style.css" type="text/css">
    </head>
    <body>
        <%- include('header.ejs') %>
        <div class="nav">
            <nav>
                <ul id="a">
                    <li>
                        <a href="/home">Home</a>
                    </li>
                    <li>
                        <a href="/find">Find a dog/cat</a>
                    </li>
                    <li>
                        <a href="#">Dog Care</a>
                    </li>
                    <li>
                        <a href="/catcare">Cat Care</a>
                    </li>
                    <li>
                        <a href="/giveaway">Have a pet to give away</a>
                    </li>
                    <li>
                        <a href="/createAccount">Create an Account</a>
                    </li>
                    <li>
                        <a href="/contact">Contact Us</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="article">
            <h2>Pawsitive Care: Essential Tips For Keeping Your Dog Healthy and Happy</h2><br>
            <ol>
                <li>
                    <b>Nutritional Needs: </b>Ensuring your dog receives a balanced diet 
                    is essential for their overall health and well-being. Consult 
                    with your veterinarian to determine the best diet for your dog based 
                    on factors such as age, breed, size, and any specific health considerations. 
                    Sources: American Kennel Club - Dog Nutrition Basics and Association of American 
                    Feed Control Officials - Dog and Cat Nutrition.<br><br>
                </li>
                <li>
                    <b>Exercise Requirements: </b>Regular exercise is crucial to keep your dog physically 
                    and mentally stimulated. Aim for at least 30 minutes to an hour of exercise daily, 
                    depending on your dog's breed and energy levels. Activities such as walking, playing 
                    fetch, and interactive games help prevent obesity and behavioral issues. Sources: American 
                    Veterinary Medical Association - Dog Exercise Basics and PetMD - How Much Exercise Does Your 
                    Dog Need?.<br><br>
                </li>
                <li>    
                    <b>Grooming Practices: </b>Regular grooming is necessary to keep your dog's coat healthy and free 
                    from mats and tangles. Brushing your dog's fur, trimming their nails, cleaning their ears, 
                    and bathing them as needed are essential grooming tasks. Additionally, dental care, including 
                    brushing your dog's teeth regularly, helps prevent dental problems such as tartar buildup and 
                    gum disease. Sources: American Society for the Prevention of Cruelty to Animals - Grooming 
                    Basics for Dogs and The Humane Society of the United States - How to Brush Your Dog's Teeth.<br><br>
                </li>
                <li>
                    <b>Regular Veterinary Care: </b>Routine veterinary check-ups are vital for maintaining your dog's 
                    health and detecting any potential issues early. Schedule annual wellness exams with your 
                    veterinarian, during which they can assess your dog's overall health, administer vaccinations, 
                    and provide preventive care, such as parasite control and heartworm prevention. Additionally, 
                    be vigilant for any signs of illness or discomfort in your dog and seek veterinary attention 
                    promptly if needed. Sources: American Animal Hospital Association - Why Regular Veterinary 
                    Visits Are Important and American Veterinary Medical Association - Pet Health.<br><br>
                </li>
            </ol>
        </div>
        <%- include('footer.ejs') %>
    </body>
</html>