<!DOCTYPE html>
<html lang="en">
    <head>
        <title>A1</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/style.css" type="text/css">
    </head>
    <body>
        <%- include('header.ejs') %>
        <div class="nav">
            <nav>
                <ul id="a">
                    <li >
                        <a href="/home">Home</a>
                    </li>
                    <li>
                        <a href="/find">Find a dog/cat</a>
                    </li>
                    <li>
                        <a href="/dogcare">Dog Care</a>
                    </li>
                    <li>
                        <a href="/catcare">Cat Care</a>
                    </li>
                    <li>
                        <a href="/giveaway">Have a pet to give away</a>
                    </li>
                    <li>
                        <a href="/createAccount">Create an Account</a>
                    </li>
                    <li>
                        <a href="/contact">Contact Us</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="article">
            <p>Giveaway form submitted successfully.</p>
        </div>
        <%- include('footer.ejs') %>
    </body>
</html>