<!DOCTYPE html>
<html lang="en">
    <head>
        <title>A1</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/style.css" type="text/css">
    </head>
    <body>
        <%- include('header.ejs') %>
        <script>
            function validateForm(){
                let dog=document.forms["petForm"]["species1"].checked;
                let cat=document.forms["petForm"]["species2"].checked;
                let breed=document.forms["petForm"]["breed1"].value;
                let male=document.forms["petForm"]["gender1"].checked;
                let female=document.forms["petForm"]["gender2"].checked;
                let dogY=document.forms["petForm"]["getalongD1"].checked;
                let dogN=document.forms["petForm"]["getalongD2"].checked;
                let catY=document.forms["petForm"]["getalongC1"].checked;
                let catN=document.forms["petForm"]["getalongC2"].checked;
                let childrenY=document.forms["petForm"]["getalongCh1"].checked;
                let childrenN=document.forms["petForm"]["getalongCh2"].checked;
                let first=document.forms["petForm"]["first-name"].value;
                let last=document.forms["petForm"]["last-name"].value;
                let email=document.forms["petForm"]["email"].value;
                if(!dog&&!cat){
                    alert("Please select a species.");
                    return false;
                }
                if(breed===""){
                    alert("Please enter a breed.");
                    return false;
                }
                var e = document.getElementById("age");
                var optionSelIndex = e.options[e.selectedIndex].value;
                var optionSelectedText = e.options[e.selectedIndex].text;
                if (optionSelIndex == 0) {
                    alert("Please select an age range.");
                    return false;
                }
                if(!male&&!female){
                    alert("Please select a gender.");
                    return false;
                }
                if(!dogY&&!dogN){
                    alert("Is it good with dogs?");
                    return false;
                }
                if(!catY&&!catN){
                    alert("Is it good with cats?");
                    return false;
                }
                if(!childrenY&&!childrenN){
                    alert("Is it good with children?");
                    return false;
                }
                if(first==""||last==""){
                    alert("Enter both first and last name.");
                    return false;
                }
                if(!validateEmail(email)){
                    alert("Please enter valid email.");
                    return false;
                }
                return true;
            }
            function validateEmail(email) {
                const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                return emailRegex.test(email);
            }
        </script>
        <div class="nav">
            <nav>
                <ul id="a">
                    <li>
                        <a href="/home">Home</a>
                    </li>
                    <li>
                        <a href="/find">Find a dog/cat</a>
                    </li>
                    <li>
                        <a href="/dogcare">Dog Care</a>
                    </li>
                    <li>
                        <a href="/catcare">Cat Care</a>
                    </li>
                    <li>
                        <a href="#">Have a pet to give away</a>
                    </li>
                    <li>
                        <a href="/createAccount">Create an Account</a>
                    </li>
                    <li>
                        <a href="/contact">Contact Us</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="article">
            <h2>Fill in the following form to give your pet up for adoption</h2><br>
            <form action="/giveaway" method="post" id="petForm" onsubmit="return validateForm()">
                <input type="hidden" name="username" value="<%= username %>">
                <fieldset class="fieldset">
                    <legend>Pet Information</legend>
                    What species is your pet?<br>
                    <label>
                        <input type="checkbox" name="species1" value="Dog">
                        Dog
                    </label>
                    <label>
                        <input type="checkbox" name="species2" value="Cat">
                        Cat
                    </label><br>
                    <br>Enter your pet's breed:<br>
                    <textarea name="breed1" rows="1"></textarea><br>
                    If it is a mixed breed, enter other breeds here:<br>
                    <textarea name="breed2" rows="1"></textarea>
                    <textarea name="breed3" rows="1"></textarea><br>
                    <br>What age range is your pet?<br>
                    <select id="age" name="age">
                        <option value="0">Select</option>
                        <option value="1">0-1 years-old</option>
                        <option value="2">2-5 years old</option>
                        <option value="3">5-7 years old</option>
                        <option value="4">7-10 years old</option>
                        <option value="5">10-15 years old</option>
                    </select><br>
                    <br>What gender is your pet:<br>
                    <label>
                        <input type="checkbox" name="gender1" value="Male">
                        Male
                    </label>
                    <label>
                        <input type="checkbox" name="gender2" value="Female">
                        Female
                    </label><br>
                    <br>Does your pet get along with other dogs?<br>
                    <label>
                        <input type="checkbox" name="getalongD1" value="yes">
                        Yes
                    </label>
                    <label>
                        <input type="checkbox" name="getalongD2" value="no">
                        No
                    </label><br>
                    <br>Does your pet get along with other cats?<br>
                    <label>
                        <input type="checkbox" name="getalongC1" value="yes">
                        Yes
                    </label>
                    <label>
                        <input type="checkbox" name="getalongC2" value="no">
                        No
                    </label><br>
                    <br>Is your pet suitable for a family with small children?<br>
                    <label>
                        <input type="checkbox" name="getalongCh1" value="yes">
                        Yes
                    </label>
                    <label>
                        <input type="checkbox" name="getalongCh2" value="no">
                        No
                    </label><br>
                    <br>Enter brief comment do brag about how great your pet is!<br>
                    <textarea name="comment" rows="5" cols="45"></textarea><br>  
                </fieldset>
                <fieldset class="fieldset">
                    <legend>Current Owner Information</legend>
                    First Name:<br>
                    <textarea name="first-name" rows="1"></textarea><br>
                    <br>Last Name:<br>
                    <textarea name="last-name" rows="1"></textarea><br>
                    <br>Current owner email:<br>
                    <input type="email" name="email">
                </fieldset><br>
                <input type="submit">
                <input type="reset">
            </form>
          
        </div>
        <%- include('footer.ejs') %>
    </body>
</html>