<!DOCTYPE html>
<html lang="en">
    <head>
        <title>A1</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="style.css" type="text/css">
    </head>
    <body>
        <%- include('header.ejs') %>
        <div class="nav">
            <nav>
                <ul id="a">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="/find">Find a dog/cat</a>
                    </li>
                    <li>
                        <a href="/dogcare">Dog Care</a>
                    </li>
                    <li>
                        <a href="/catcare">Cat Care</a>
                    </li>
                    <li>
                        <a href="/giveaway">Have a pet to give away</a>
                    </li>
                    <li>
                        <a href="/createAccount">Create an Account</a>
                    </li>
                    <li>
                        <a href="/contact">Contact Us</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="article">
            <h2 >Welcome to PURRfect Pairings!</h2><br>
            <p>Here is your go-to destination for finding your newest furry companion!
                <br> At PURRfect Pairings, we are dedicated to facilitating the adoption 
                process for dogs and cats, providing loving homes for animals in need. 
                Whether you're looking to add a playful puppy, a cuddly kitten, or a seasoned
                 senior pet to your family, we're here to help match you with your perfect 
                 match.<br>
                <br>Our mission is to promote responsible pet ownership and reduce the number
                 of homeless animals by encouraging adoption from shelters and rescues. By 
                 adopting from us, you're not only gaining a loyal companion but also giving 
                 a second chance to a deserving animal in need. We believe that every pet 
                 deserves a loving home, and we're committed to making that happen.<br>
                <br>Explore our website to browse through our available pets, learn about dog 
                and cat care, find resources for giving away a pet, and get in touch with us 
                for any inquiries. Whether you're a seasoned pet owner or a first-time 
                adopter, we're here to guide you through every step of the adoption process.<br> <br>Thank you for considering adoption, and welcome to the PURRfect Pairings family!
            </p>
            <img class="img" width="500" height="300" src="/puppy-adoption-scaled.jpeg" alt="cute adoption dogs">    
            <h3 class="disclaimer">Privacy/Disclaimer Statement:</h3>
            <p id="section" style="line-height:unset;font-size:x-small;">            
            At PURR Pairings, we are committed to protecting your privacy and ensuring the 
            security of any personal information you provide to us. We want you to feel confident 
            that your privacy is respected and your data is handled responsibly.</p><br>
            <ul style="list-style-type:disc" class="disclaimer">
                <li>
                    Protection of Personal Information: We do not sell, trade, or rent your personal 
                    information to third parties. Any information collected through our website is 
                    used solely for the purpose of facilitating pet adoptions, providing resources, 
                    and improving our services.<br>
                </li>
                <li>            
                    Accuracy of Information: While we strive to provide accurate and up-to-date information, 
                    we cannot guarantee the accuracy or completeness of all content on our website. Pet 
                    owners are responsible for the information they provide about their pets for adoption. 
                    We encourage users to verify details and consult with professionals before making any decisions 
                    based on the information presented on our site.<br>
                </li>
                <li>
                    External Links: Our website may contain links to external sites that are not operated by us. We 
                    have no control over the content and practices of these sites and cannot be held responsible for 
                    their privacy policies or practices. We encourage users to review the privacy statements of any 
                    third-party sites they visit.<br>
                </li>
                <li>
                    Security Measures: We employ industry-standard security measures to protect against the loss, misuse, 
                    or alteration of the information under our control. However, no method of transmission over the 
                    internet or electronic storage is 100% secure, and we cannot guarantee absolute security.<br>
                </li>
                <li>
                    Consent: By using our website, you consent to the terms of this Privacy/Disclaimer Statement.
                </li>
            </ul>
        </div>
        <%- include('footer.ejs') %>
    </body>
</html>